<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SaiyanBot2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SaiyanBot2.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value>saiyanbot</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>oauth:vd334pq8kp8yqipc0oelxqe8ejkwrq</value>
            </setting>
            <setting name="Channel" serializeAs="String">
                <value>natsuma_z</value>
            </setting>
        </SaiyanBot2.Properties.Settings>
    </applicationSettings>
</configuration>